/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5f1;
    height: 100vh;
    overflow-y: auto;
}

div.title {
    margin: 0 auto;
    padding: 2rem;
}

div.title > h1 {
    text-transform: uppercase;
}

div.title > h1,
div.title > p {
    margin-bottom: 1rem;
}

div.container {
    margin: 0 auto;
}

div.title > h1 {
    font-size: 1.5rem;
}

div.card-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div.card-wrapper > div.card > img {
    width: 100%;
}

div.card-wrapper > div.card {
    background-color: white;
    margin: 1rem;
    padding-bottom: 1.2rem;
}

div.card-wrapper > div.card > h2 {
    font-family: "Times New Roman", Times, serif;
    padding: .7rem;
}

div.title > p,
div.card-wrapper > div.card > h2,
div.card-wrapper > div.card > span {
    font-weight: lighter;
}


/* Responsive Layouts */

/* SM-MD Layout (from 576px to 991px*/
@media screen and (min-width: 576px) {
    div.container {
        width: 75%;
    }
    
    div.title {
        width: 50%;
    }
    
    div.card-wrapper > div.card {
        width: calc(100% / 2 - 2rem);
    }
}

/* LG-XL-XXL Layout (from 992px to 2559px*/
@media screen and (min-width: 992px) {
    div.card-wrapper > div.card {
        width: calc(100% / 3 - 2rem);
    }
}

/* 2K Layout (from 2560px to 3840px */
@media screen and (min-width: 2560px) {
    html {
        font-size: 20px;
    }
}

/* 4K Layout (from 3840px to higher resolutions */
@media screen and (min-width: 3840px) {
    html {
        font-size: 30px;
    }
}